[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
create-superuser = "python manage.py createsuperuser"
migrate = "bash -c 'python manage.py makemigrations && python manage.py migrate'"
start = "python manage.py runserver"
shell = "python manage.py shell"
create-app = "sh create-app.sh"
write-requirements = "bash -c 'pipenv lock -r > requirements.txt'"
install-requirements = "pip install -r requirements.txt"
